h1 {
	text-align: left;
	color: #f3c6ae;
	font-size: 25.73pt;
	line-height: 30px;
	margin-top: 40px;
}

h3 {
	text-transform: lowercase;
	background-color: rgba(252,250,243,0.9);
	width: 95%;
	position: absolute;
	right: 0px;
	top: 65px;
	font-family: Raleway;
	font-size: 24px;
	height: 23px;
	padding: 2px 0 0 20px;
}


h3:before {
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; 
	border-right:12px solid rgba(252,250,243,0.9); 
	content: "";
	position: absolute;
	left: -12px;
	top: 0px;
}

.body {
	width: 300px;
}

.main {
	background-repeat: no-repeat;
	background-position: 100% 0;
	padding-top: 60px;
	font-family: "Raleway";
}

.big-hex {
	background-repeat: no-repeat;
	width: 181px;
	height: 209px;
	position: absolute;
	text-align: center;
	padding-top: 70px;	
}

.hilton-garden {
	background-image: url('hex-bg-red.png');
	top: 147px;
	left: 585px;
}

.big-hex div:last-of-type {
	margin-top: 10px;
}

.holiday-inn-express {
	background-image: url('hex-bg-brown.png');
	top: 306px;
	left: 494px;
}

.best-western {
	background-image: url('hex-bg-gold.png');
	top: 306px;
	left: 676px;
}

a {
	color: black;
}


.hex-edge {
	position: absolute;
	width: 695px;
	height: 157px;
	right: 0px;
	top: 10px;
	background-image: url('hex-edge-bg.png');
	background-repeat: no-repeat;
}
