@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@import url(http://fonts.googleapis.com/css?family=Raleway:200);

@font-face {
    font-family: "Prisma";
    src: url('prisma.otf');
}

@font-face {
    font-family: "GeoSansLight";
    src: url('GeosansLight.otf');
}

body {
    background-image: url('bg.png');
}

* {
    text-rendering: optimizeLegibility;
}

img {
    display: none;
}

canvas {
    display: none;
}

h1 {
    font-family: "Prisma";
    font-size: 42.22pt;
    font-weight: normal;
    color: #c0ab94;
    text-align:center;
    margin:0;
}

h2 {
    font-family: "Alex Brush";
    font-size: 37.89pt;
    line-height: 37.89pt;
    color: #fcb092;
    text-align: center;
    font-weight: normal;
    margin:0;
}

.main {
    width: 970px;
    margin: 0 auto;
}

.hex {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 140px;
    cursor: pointer;
    margin-right: 80px;
    background-repeat: no-repeat;
}

.hex .label {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-size: 8.52pt;
    font-family: "Raleway";
    color: "black";
    background-image: url('small-label-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 13px;
    padding-top: 2px;
}

.hex.over .label {
    background-image: url('large-label-bg.png');
    background-position: 0px 60px;
    width: 100%;
    top: 0px;
    padding-top: 62px;
    height: 78px;
    font-size: 15pt;
    z-index: 2;
}

.hex.over img {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.accommodations {
    background-color: rgba(241,181,155, 0.7);
    background-image: url('accommodations.jpg');
    background-position: -25px -100px;
    vertical-align: text-bottom;
}

.location {
    background-color: rgba(95,117,105, 0.7);
    background-image: url('location.jpg');
    background-position: -10px -10px;
}

.month {
    background-position: 0px 60px;
}

.day {
    background-position: 25px;
}

.contact {
    background-image: url('contact.jpg');
    background-color: rgba(210,189,162,0.7);
}

.things-to-do {
    background-color: rgba(196,106,59,0.7);
    background-image: url('things-to-do.jpg');
    background-position: 0px 25px;
}

.year {
    background-position: 0px 45px;
}

.registry {
    background-color: rgba(178,170,159,0.7);
    background-image: url("registry.jpg"); 
    background-position: -55px -50px;
}

.people {
    background-color: rgba(209,164,94,0.7);
    background-image: url('people.jpg');
    background-position: -40px -40px;
}

.rsvp {
    background-color: rgba(167,52,52,0.7);
    background-image: url('rsvp.jpg');
}

.photo-app {
    background-color: rgba(93,88,119,0.7);
    background-image: url('photo-app.jpg');
}

.hex-row .hex:last-of-type {
    margin-right: 0;
}

.hex-row {
    margin-top: -72px;
    margin-left: 40px;
}

.hex-row:first-of-type {
    margin-top: 20px;
}

.hex-row:nth-child(odd) .hex:first-of-type {
    /*margin-left: 123px;*/
}
.hex-row:nth-child(even) .hex:first-of-type {
    margin-left: 123px;
}

.hex-row:nth-of-type(3) .hex:first-of-type {
}

.hex-row:nth-of-type(4) .hex:first-of-type {
    margin-left: 245px;
}

.year .label {
    background-image: none;
    top: 50px;
    color: rgb(172,139,132);
    font-family: "Prisma";
    font-size: 40.37pt;
    line-height: 40px;
    cursor: auto;
    -letter-kern: -2px -5px -10px 0;
}
.weekday .label {
    background-image: none;
    top: 50px;
    vertical-align: middle;
    color: rgb(224,176,95);
    font-family: "Prisma";
    font-size: 31.7pt;
    line-height: 40px;
    cursor: auto;
    -letter-kern: 0 0 0 -4px -7px;
}
.month .label {
    background-image: none;
    top: 60px;
    text-transform: uppercase;
    font-size: 17.29pt;
    font-family: "Raleway";
    color: rgb(115, 142, 190);
    cursor: auto;
}
.day .label {
    background-image: none;
    top: 20px;
    color: rgb(220,180,121);
    font-family: "GeoSansLight";
    font-size: 49.87pt;
}
.day sup {
    font-size: smaller;
}

hr {
    border: none;
    border-top: 1px solid #cdbc9e;
}

.home {
    background-image: url('home-button.png');
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    text-decoration:none;
}