body {
	background-image: url('location-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.hex-edge {
	position: absolute;
	width: 695px;
	height: 157px;
	right: 0px;
	top: 10px;
	background-image: url('hex-edge-bg.png');
	background-repeat: no-repeat;
}

.text {
	height: 365px;
	width: 440px;
	background-color: rgba(236,242,234,0.9);
	font-family: Raleway;
	font-size: 18px;
	position: absolute;
	right: 0px;
	top: 35%;
	text-align: right;
	padding: 5px;
	color: black;
}

a {
	color: black;
}

h2 {
	font-family: Prisma;
	position: absolute;
	left: 5%;
	top: 115px;
	font-size: 40px;
	color: white;
}

h3 {
	text-transform: lowercase;
	background-color: rgba(236,242,234,0.9);
	width: 95%;
	position: absolute;
	right: 0px;
	top: 65px;
	font-family: Raleway;
	font-size: 24px;
	height: 23px;
	padding: 2px 0 0 20px;
}

h3:before {
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; 
	border-right:12px solid rgba(236,242,234,0.9); 
	content: "";
	position: absolute;
	left: -12px;
	top: 0px;
}

.home {
	position: absolute;
	left: 5%;
	top: 65px;
	background-image: url('home.png');
}